@charset "UTF-8";


 *{font-family: 'Nanum Gothic', sans-serif;}
 
/*  qnamain페이지  */
 
.top {
	width: auto;
	height: 50px;
	/* border: 1px solid black;
	//테두리 */
}

.main {
	margin: auto;
	width: 1200px;
	height: auto;
/* 	border: 1px solid red; */
	width: 1200px;
}

.basic {
	float: left; /*블록요소를 가로로 정렬*/
	border: 1px solid orange; /*테두리*/
}

.basic1 {
	width: 100px;
	height: 100px;
/* 	border: 1px solid pink; */
	float: left;
	margin-left: 300px;
	color: #FF3500;
	
	

}

.basic2 {
	width: 500px;
	height: 100px;
	/* border: 1px solid pink; */
	/* float: left; */
	display: inline;
	text-align: inherit;
}

.basic2_2 {
	float: left;
}

.basic3 {
	width: auto;
	height: 100px;
/* 	border: 1px solid pink; */
	float: left;
	margin-right: 200px;
	
}

.tag1 {
	width: 50;
	margin-left: 10px;
	height: 20px;
	float: left;
/* 	border: 1px solid pink; */
}

.qna {

	width: auto;
	height: 100px;
}

.page-item {
	margin-top: 25px;
}


	.mb-3 input{
		background-image: url("images/q.png");
		background-repeat: no-repeat;
		background-size: 30px;
		background-position: 10px center;
		text-indent: 50px;
	}
	.board_image{
		/* margin-top: 200px; */
		background-image: url("images/qna_board.jpg");
		background-repeat: no-repeat;
		background-position: center;
		width: 5500;
		height: 220px;
		

	}
	.tag{
	 	width:1050px;
	 	border: 5px red;
	 	padding: 3px;
		margin-left: auto; 
		margin-right: auto;
		text-align: center;
		
	}
	
	
	

