@charset "UTF-8";
                            /*    -----------------------------현지수정 ---------------------------------- */
.mainTable {
	width: 1200px;
 	margin: 0px auto;
    text-align: left;
	
}


.last {
	border-bottom: 1px solid #D5D5D5;
    text-align: left;
   
}

.hash {
	color: rgb(106, 106, 106);
	font-size: 13px;
	background-color: rgb(245, 245, 245);
	border-radius: 3px;
	padding: 4px 7px;
}

.table, td{
	padding: 30px 50px;

}
.table, th{
	padding-top: 30px;
	
}
