@charset "UTF-8";

	.mb-3 input{
		
		background-repeat: no-repeat;
		background-size: 30px;
		background-position: 15px center;
		text-indent: 45px;
	}
		

	.tag{
		display: inline-block ;
		display: table-cell;
		vertical-align: middle;
	 	width:900px;
	 	height : 60px;
	 	border: 1px solid black;
	 	
	 	padding: 15px;
		
		/* margin-right: auto; */
		text-align: center;	
			
	}
	
	.tag2{
		vertical-align: middle;
		margin-bottom: 15px;
		margin-left: 200px;
		display: inline-block;
		display: table-cell;
		border: 1px solid pink;
		width: 200px;
		height: 60px;
		
	}
	.button{
		margin-bottom: 150px; 
	}
	