@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
   .mb-3 input{
      
      background-repeat: no-repeat;
      background-size: 30px;
      background-position: 15px center;
      text-indent: 45px;
      font-family: 'Noto Sans KR', sans-serif;
   }
      

   .tag{
      float: left;
       width:870px;
       height : 80px;
       border: 1px solid #D5D5D5;
       border-bottom-right-radius:10px;
       border-top-right-radius:10px;
       margin-top: 0.7px;
       padding: 25px;
       font-size: 18px;
      font-family: 'Noto Sans KR', sans-serif;
      /* margin-right: auto; */
      text-align: center;   
         
   }
   
   .tag2{
      font-size: 20px;
      color: white;
      font-weight: bold;
      background-color:  #FF3500;
      border: 1px solid #D5D5D5;
      float: left;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      padding: 25px;
      text-align: center;
      vertical-align: middle;
      margin-bottom: 25px;
      font-family: 'Noto Sans KR', sans-serif;
      margin-left: 348px;
      display: inline-block;
      display: table-cell;
      width: 330px;
      height: 80px;
      
   }
   .button{
      margin-bottom: 150px; 
      font-family: 'Noto Sans KR', sans-serif;
   }
   .com_cnt{
     font-size: 13px;
     color: gray; 
     float: right;
     margin-right: 50px;
   
   }