@charset "UTF-8";

	.mb-3 input{
		background-image: url("images/q.png");
		background-repeat: no-repeat;
		background-size: 30px;
		background-position: 10px center;
		text-indent: 50px;
	}

	.tag{
	 	width:1050px;
	 	border: 5px red;
	 	padding: 3px;
		margin-left: auto; 
		margin-right: auto;
		text-align: center;		
	}
	.button{
		margin-bottom: 150px; 
	}