@charset "UTF-8";


 *{font-family: 'Nanum Gothic', sans-serif;}
 
/*  qnaWriteCheck.jsp 페이지  */
 
	.title {
		width: 800px;
		height: 80px;
		margin-left: 350px;
		display: inline;
		font-size: 25px;
		font-weight: bold;
	}
	.profile {
		margin-left: 300px;
	}
	.gubun {

		margin-left: 350px;
	}
	.fw-bold {
		color: #FF3500;
		
	}
	.main {
		margin-top: 30px;
		width: 700px;
		height: 200px;
		/* border: 1px solid orange; */
		margin-left: 350px;
	}

	.tag1 {
		margin-top: 30px;
		width: 1300px;
		height: 90px;
		display: inline;
		padding-left: 350px;
	}
	
	.button7{
		margin-left: 350px;
	   color:gray;
	   font-size: 13px;	
	}
	.button8{
		color:gray;
	    font-size: 13px;	
	}
	
	.profile {
		margin-left: 350px;
		margin-top: 10px;
	}	
	
	.content {
		margin-left: 350px;
		margin-top: 100px;
		width: 800px;
	}
	.idCheck{
		color: gray;
		font-size: 11px;
		font-weight: bold;
		margin-left: 10px;
	}
	.delete{
		margin-left: 960px;
		color: #C3C3C3;
		font-weight: bold;
		font-size: 12px;
		line-height: 1.1px;
		
	}


	
	
