@charset "UTF-8";

/* 폰트 등록, 적용 */
@font-face{
	font-family : NotoSansKR-Regular;
    src : url('../font/NotoSansKR-Regular.ttf') format('ttf');
    font-weight : normal;
    font-style : normal;
}
@font-face{
    font-family : NotoSansKR-Medium;
    src : url('../font/NotoSansKR-Medium.ttf') format('ttf')/* , url('../fonts/NotoSansKR-Medium.woff') format('woff') */;
    font-weight : normal;
    font-style : normal;
}

body{
	font-family: NotoSansKR-Medium !important;
}

/* textarea 사이즈 고정 */
textarea{
	resize: none !important;
}

/* 카테고리배너 폰트 컬러 */
#cateTextM, #cateTextS{
	color: white !important;
}

/*****************************************************/
/******************   List css   *********************/
/*****************************************************/

.btn:active, .btn:focus, button:focus { 
	font-weight: bold !important; 
	border: 2px; 
	box-shadow: none !important; 
	outline:none !important;
}

/* input:focus, textarea:focus{
	outline:none !important;
	} */
	
/* 시작날짜, 종료날짜 선택 input id */
#input_from, #input_to {
	width:39%; height:34px;
	cursor: pointer;
}	

/* 버튼 클릭시 테두리 생김 방지 */
#t_gubun1, #t_gubun2, #t_gubun3, #t_gubun4,#t_gubun5, #t_gubun6 {
	border: none;
}

#filterBtn, #btnNavbarSearch, #filterBtnSearch {
	background: #ff3500;
	color: white;
}
#filterBtnSearch {
	width: 16%; 
	padding: 4px 20px !important; 
	float:right; 
	margin: 0 5px 0 5px;
}

/* 모집중인 글 조회 버튼 */
#filterBtn_BF {
	margin: 3px 0 3px 0 ; 
	padding: 8px 10px;
	background: white;
	border: solid #4C4C4C 2px;
	color: #000000;
	border-radius: 30px; 
	border-collapse: collapse;
	font-weight: bold;
	float: right;
}
#filterBtn_AF {
	margin: 3px 0 3px 0 ; 
	padding:8px 10px;
	background: #ff3500;
	border: solid #ff3500 2px; 
	color:white;	
	border-radius: 30px; 
	font-weight: bold;
	float: right;
}


/* 이미지 영역 */
#pic:hover {
	border-radius:3px 3px 0 0;
}

/* 이미지 사이즈 커지게 */
#pic:hover img {
	transform: scale(1.1);
	transition-duration: 0.5s;
}

/* 이미지 위에 구분, 날짜 */
#picOnGubun {
	width: 19%;
	margin: 10px;
	font-size: 12px;
	color: white;
	position: absolute;
	opacity: 1;
	border-radius:20px;
	padding: 5px 0px 5px 10px;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1;
}

 #picOnDate {
	display: none;
}

#pic:hover #picOnDate {
	display: inline;
	color: white;
} 

#pic:hover #picOnGubun {
	width: 48%;
} 


/* 제목, 본문 말줄임표 */
#title, #content {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* 댓글영역 */
#IdComment {
	margin: 0px;
}


#comment {
	font-size: 14px;
	color: #9A9A9A;
	font-weight: 500;
	vertical-align:middle;
	position: realtive;
	float: right;
}

#comment img {
	width: 14px; 
	margin: 0 5px;
}

#pic img {
	width: 100%;
	height: 260px;
	object-fit: cover;
	
}

#pic {
	width: 100%;
	height: 260px;
	overflow: hidden;
	position: relative;
}

#contentBox {
	border: 1px solid #e9e9e9;
}


.text-left p {
	margin-bottom: 8px;
}


#optionBox {
	display: inline-block;
}


/* .page-link {
  color: #000; 
  background-color: #fff;
  border: 1px solid #ccc; 
}

.page-item:active .page-link:active {
 z-index: 1;
 color: #555;
 font-weight:bold !important;
 background-color: #f1f1f1 !important;
 border-color: #ccc !important;
 
}

.page-link:focus, .page-link:hover {
  color: #000;
  background-color: #fafafa !important; 
  border-color: #ccc !important;
} 
 */

#searchFilterGubun {
	font-weight: bold;
}
#searchFilterGubun button {
	padding: 1px;
}

/************************************/
/**********   Content css   ************/
/************************************/
#dateViwer {
	font-size: 90%;
	color: #9A9A9A;
	font-weight: bold;
	padding: 0px;
	
}
#dateViwerDate {
	font-size: 90%;
	color: #9A9A9A;
}
#keyColor, .keyColor{
	color:#ff3500;	
}

#userBox{
	border: 1px; 
	border-color: #e9e9e9 ;
	border-collapse:collapse;
	border-radius: 4px;
	width: 21%;
}

.fontColorGrey {
	color:#9A9A9A;
}
.fontSize-14{
	font-size:14px;
}
.fontSize-12{
	font-size:small;
}

.floatLL{
	float:left;
}
.floatRR{
	float:right;
}
#trCommBtn {
	height:34px;
	width:100%;
	background-color: #FF3500;
	color: white;
	font-size: 14px;
	border-radius: 20px;
	
}

#commInsBtn {
	background-color: #FF3500;
	color: white;
	font-size: 14px;
	border-right:none;
}

#trWriterIcon {
	background: #ff3500; 
	color:white; 
	font-size: 12px; 
	border-radius:10px; 
	padding: 3px;
	
}

/************************************/
/**********   Write css   ************/
/************************************/

#fileName {
	background-color: #e2e2e2;
}

#image-upload-box {
	background-color: #E6E6E6;
  height: 320px;
  border-radius: 4px;
  overflow: hidden;
  object-fit:cover;
  display:flex;
  vertical-align:middle;
}
#image-upload-box img {
   width: 100%; 
   object-fit:cover;
   height: 320px;
   
}


