@charset "UTF-8";

/************************************/
/**********   List css   ************/
/************************************/
/* 폰트 등록 */
@font-face{
    font-family : 'NotoSansKR-Regular';
    /* src : url('../font/NotoSansKR-Regular.otf') format('otf');
    src : url('../font/NotoSansKR-Regular.woff') format('woff'); */
    src : url('../font/NotoSansKR-Regular.ttf') format('ttf');
    font-weight : normal;
    font-style : normal;
}
.btn:active, .btn:focus,
button:focus
{ font-weight: bold !important; border: 2px; box-shadow: none !important; outline:none !important;}

input:focus, textarea:focus{
	outline:none !important;
	/* outline: 1px solid black !important; */
	}
input:focus, textarea:focus{
	outline:none !important;
	/* outline: 1px solid black !important; */
	}
	

#t_gubuns button {
	border: none; outline: none; 
}
#input_to input:focus, #input_from input:focus {
	outline:none ;
	/* outline: 1px solid #ff3500 !important; */
}

@font-face{
    font-family : 'NotoSansKR-Medium';
    src : url('../font/NotoSansKR-Medium.ttf') format('ttf'), url('../fonts/NotoSansKR-Medium.woff') format('woff');
    font-weight : normal;
    font-style : normal;
}

body{
	font-family: 'NotoSansKR-Regular';
}

#title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#content {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#comment {
	font-size: 14px;
	color: #9A9A9A;
	position: realtive;
	float: right;
}

#comment img {
	margin-right: 5px;
}

#pic img {
	width: 100%;
	height: 220px;
	object-fit: cover;
	
}

#pic {
	width: 100%;
	height: 220px;
	overflow: hidden;
	position: relative;
}


#pic:hover {
	/* background-color: rgba(0, 0, 0, 0.2); */
	border-radius:3px 3px 0 0;
}

#pic:hover img {
	/* background-color: rgba(0, 0, 0, 0.2); */
	transform: scale(1.1);
	transition-duration: 0.5s;
	/* border-radius:41px 41px 0 0; */
}
#picOnGubun {
	/* visibility: hidden; */
	width: 19%;
	margin: 10px;
	font-size: 12px;
	color: white;
	position: absolute;
	opacity: 1;
	border-radius:20px;
	padding: 5px 0px 5px 10px;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1;
}
 #picOnDate {
	/* visibility: hidden; */
	display: none;
}
#pic:hover #picOnDate {
	display: inline;
	} 
#pic:hover #picOnGubun {
	width: 48%;
} 








/* #contentDate {
	opacity: 1;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	color: #ffffff;
	font-size: 12px;
	width: 80%;
	display: none; 
	margin: 10px;
	position: absolute;
	font-weight: bold;
	} */
/* #pic:hover div {
	transition-duration: 0.5s;
	border-radius:50px;
	opacity: 1;
} */

.text-left p {
	margin-bottom: 8px;
}

#IdComment {
	margin: 0px;
}

#optionBox {
	display: inline-block;
}

#filterBtn, #btnNavbarSearch {
	background: #ff3500;
	color: white;
}
#filterBtn_BF {
	background: white;
	border: 2px ;
	border-color: #8C8C8C;
	border-collapse: collapse;
	
}

/* #filter {
	float: right;
} */

.fileRegiBtn label {
	display: inline-block; 
	padding: .5em .75em; 
	color: #ffffff; 
	font-size: inherit; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: #FC7D01; 
	cursor: pointer; 
	border: 1px solid #ebebeb; 
	border-bottom-color: #e2e2e2; 
	border-radius: .25em;
}

/*파일선택시 선택된 파일명이 붙는것을 가려준다*/

.fileRegiBtn input[type="file"]{
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0;
}
#searchFilterGubun {
	font-weight: bold;
}

/************************************/
/**********   View css   ************/
/************************************/
#dateViwer {
	font-size: 90%;
}
#keyColor{
	color:#ff3500;	
}
.keyColor{
	color:#ff3500;
}
#userBox{
	border: 1px; 
	border-color: #4A3E37 ;
	border-collapse:collapse;
	border-radius: round;
}


.fontColorGrey {
	color:#8C8C8C;
}
.fontSize-14{
	font-size:14px;
}
.fontSize-12{
	font-size:small;
}

.floatLL{
	float:left;
}
.floatRR{
	float:right;
}
#trCommBtn {
	height:34px;
	width:131px;
	background-color: #FF3500;
	color: white;
	font-size: 14px;
	border-radius: 20px;
	
}

#commInsBtn {
	background-color: #FF3500;
	color: white;
	font-size: 14px;
	border-right:none;
}

/************************************/
/**********   Write css   ************/
/************************************/

#fileName {
	background-color: #e2e2e2;
}


#image-upload-box {
	background-color: #E6E6E6;
  height: 320px;
  border-radius: 4px;
  overflow: hidden;
  object-fit:cover;
  display:flex;
  vertical-align:middle;
}
#image-upload-box img {
   width: 100%; 
   object-fit:cover;
   height: 320px;
   
}


