@charset "UTF-8";
/* 사이드바 클릭 후 페이지 이동시마다 색깔이 바뀜 */
.link_mypage_board{
	height:50px;
	line-height: 50px;
	text-align: left;
	background-color: rgba(255,53,0,0.5);
	border : 1px solid rgb(204,204,204);
	width : 100%;
	padding-left: 30px;
	border-radius: 30px 10px;
}
.link_mypage_board::after{
	content: url("../../images/form_arrow_lightGray.svg");
	position: absolute;
	left: 23.5%;
}
.page_nation:hover {
	color:#fff;
	border:1px solid #f40;
	background-color:#f40;
}
.onerow{
	display: flex;
}
.dealstatus{
	font-family: 'Noto Sans KR';
    color: rgb(0, 206, 124);
    font-weight: 500;
    margin-right: 4px;
    padding-left : 20px;
    text-align: right;
}
.t_titleTD{
	font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;
     padding-left : 20px;
}
.t_content{
	width : 580px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;
    font-size: small;
}
.button_update{
	user-select: none;
    -webkit-user-drag: none;
    color: rgb(106, 106, 106);
    float: left;
    font-family: 'NotoSansKR';
    font-size: 14px;
    background: rgba(0, 206, 124 ,0.3);
    border-radius: 80%;
    margin-right: 8px;
}
.button_delete{
	user-select: none;
    -webkit-user-drag: none;
    color: rgb(106, 106, 106);
    font-family: 'NotoSansKR';
    font-size: 14px;
    background: rgba(0, 206, 124 ,0.3);
    border-radius: 80%;
}
.t_title{
	font-family: 'NotoSansKR';
	font-size: smaller;
}
.button_updateform{
	padding-right: 10px;
	padding-left : 20px;
}
.comment_date{
	font-family: 'NotoSansKR';
    font-size: smaller;
}
.b_recnt{
	font-family: 'NotoSansKR';
    font-size: smaller;
    text-align: right;
    padding-right: 5px;
}