@charset "UTF-8";
/* 사이드바 클릭 후 페이지 이동시마다 색깔이 바뀜 */
.link_mypage_userinfo {
	height:50px;
	line-height: 50px;
	text-align: left;
	background-color: rgb(255,53,0,0.5);
	border : 1px solid rgb(204,204,204);
	width : 100%;
	padding-left: 30px;
	border-radius: 30px 10px;
}
.link_mypage_userinfo::after{
	content: url("../../images/form_arrow_lightGray.svg");
	position: absolute;
	left: 23.5%;
}
.user_out{
	display : flex;
	float:right;
}
.user_out_button{
	border : 0px;
}
.user_out_button::hover{
	background-color: rgba(204,204,204,0.8);
}
.user_updateinfo_main{
	border: 1px solid rgb(204,204,204);
	padding : 30px;
}
.input_user{
	height: 70px;
	width: 95%;
	border: 1px solid rgba(255,53,0,0.3);
}
input:focus {
	border-color: rgb(255,53,0);
	outline: lime;
}
.submit{
	text-align: center;
}
#submit{
	width: 300px;
	height: 50px;
	font-size : 20px;
	background-color : rgba(255,053,0,0.8);
	border : 0;
	color : white;
	border-radius: 25px;
}
.image_insert{
	padding-left: 35%;
}
#target_img{
	width : 150px;
	height: 150px;
	border-radius: 70%;
	overflow: hidden;
}
#target_img::after {
	content: url("../../images/image-outline.svg");
}