@charset "UTF-8";
/* 사이드바 클릭 후 페이지 이동시마다 색깔이 바뀜 */
.link_mypage_userinfo {
	height:50px;
	line-height: 50px;
	text-align: left;
	background-color: rgb(255,53,0,0.5);
	border : 1px solid rgba(204,204,204,0.2);
	width : 100%;
	padding-left: 30px;
	border-radius: 30px 10px;
}
.link_mypage_userinfo::after{
	content: url("../../images/form_arrow_lightGray.svg");
	position: absolute;
	left: 23.5%;
}
.user_out{
	display : flex;
	float:right;
}
.user_out_button{
	border : 0px;
}
.user_out_button::hover{
	background-color: rgba(204,204,204,0.8);
}
.user_updateinfo_main{
	border: 1px solid rgba(153,153,153,0.2);
	padding : 30px;
}
.input_user{
	height: 40px;
	width: 100%;
	border: 1px solid rgba(153,153,153,0.2);
}
.submit{
	text-align: center;
}
#submit, .pw_search{
	width: 250px;
	height: 40px;
	font-size : 18px;
	background-color : rgba(255,053,0,0.5);
	border : 0;
	color : white;
	font-family: 'NotoSansKR'
}
.submitMain{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.image_insert{
	padding-left: 35%;
}
#target_img{
	width : 150px;
	height: 150px;
	border-radius: 70%;
	overflow: hidden;
}
#user_info{
	height: 180px;
}
#user_email{
	border: 1px solid rgba(153,153,153,0.2);
}
input:focus {
	border-color: rgb(255,53,0);
	outline: lime;
}
textarea:focus {
	border-color: rgb(255,53,0);
	outline: lime;
}